background-color:bisque;
font-family:Bai Janjurre;
{
  footer
}
{
background-color-black;
color:white;
position:fixed;
width:100%
heigh zrem;
}
footer p
{
  text-aligm:center;
  font size:0,6rem;
  margin-tap:0,5rem;
}
